# ==== Visual Studio / MSBuild ====
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/
.vs/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

# ==== WDK / driver build artifacts ====
*.obj
*.pdb
*.idb
*.exp
*.lib
*.ilk
*.log
*.tlog/
*.recipe
*.sys
*.cer
*.cat
*.inf
BuildLog.htm

# ==== IncrediBuild / MSBuild temp ====
*.iobj
*.ipdb
*.tmp
*.tmp_proj
*_i.c
*_p.c
*.pch

# ==== OS / IDE junk ====
Thumbs.db
.DS_Store
.idea/
*.swp